@import "tailwindcss";

/* style.css */
:root {
    /* External Links */

  --color-dark: #2f4858;
  --color-med-dark: #86bbd8;
  --color-med: #336699;
  --color-med-light: #9ee493;
  --color-light: #daf7dc;
  
  --color-bg: #F4F4F4;         /* Background */
  --color-fg: #303030;         /* Foreground */
}

body {
  background-color: var(--color-bg);
  color: var(--color-fg);
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

header, nav, footer {
  background-color: var(--color-dark);
  color: var(--color-light);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.dropdown_menu {
  z-index: 12;
}

h2 {
  @apply text-2xl font-semibold border-b pb-2 mb-4;
}

h3 {
  @apply text-lg font-semibold pt-2;
}

h4 {
  @apply pt-2;
}

.subtitle {
  @apply text-sm;
  color: var(--color-dark);
  font-style: italic;
}

.pill {
  @apply inline-block rounded-full border flex items-center justify-center text-center;
  border-color: var(--color-fg);
}

.pill-dark {
  border-color: var(--color-bg);
}

.about_me {
  background-color: var(--color-med);
  color: var(--color-fg);
}

.about_me_subsection {
  background-color: var(--color-med-dark);
}

.experience {
  background-color: var(--color-med-light);
  color: var(--color-fg);
}

.experience_subsection {
  background-color: var(--color-light);
}

.profile {
  border-color: var(--color-bg);
}